[alias]
	c = checkout
	c- = checkout -
	cb = checkout -b
	cm = checkout master

        p = pull origin

        co = commit -am
	cae = commit --amend
	ca = commit --amend --no-edit

        a = add .

        rm = rebase master
	rc = rebase --continue

	s = status

	b = branch

	f = fetch

        wip = commit -am 'wip'
        rm = reset --hard master
	changelog = log --reverse --pretty=format:'- %B' master..HEAD
	lg = log --graph --pretty=format:'[%cn]%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

        d = diff --color
	r = reset --hard HEAD
	pf = push --force-with-lease
	rim = rebase -i master
	h = rev-parse HEAD
	cf = commit --fixup
	l = log -n 1 --pretty=format:'%h %s' --
	r1 = reset HEAD^1
	rollback = reset --soft HEAD~1

[user]
	name = Filipe Crespo
	email = filipe.crespo@locaweb.com.br

[github]
	user = Filipe Crespo
	email = filipesoares.crespo@gmail.com

[branch]
	autosetuprebase = always

[merge]
  ff = no
  commit = no
  tool = meld

[pull]
	rebase = preserve

[push]
	default = current

[core]
	editor = vim

[color "diff"]
  meta = "yellow bold"
  commit = "green bold"
  frag = "magenta bold"
  old = "red bold"
  new = "green bold"
  whitespace = "red reverse"

[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"

[rebase]
	autosquash = true
